@use './colors.scss';

.userContainer{
  background: url(../assets/PUBGBACKGROUND.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.userContainer ul{
  color:white;
}